<div id='frequently_questions'>
	<h2> Frequently asked questions: </h2>
	<p class='bold'> Why can't I upload my own paper to have it read by someone else? <p>
		<p> Answer: You either don't have enough credits, or you have already uploaded a paper that hasn't been read yet. Editing someone else's paper will give you a credit. Otherwise, just be patient </p>
	<p class='bold'> Why can't I download a paper to proof read?</p>
	<p> Answer: You probably forgot to upload the edited version of the last paper you downloaded to proof read! </p>
</div>