<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi There</h1>
    <p>
      Attached is your edited paper. Thanks for using PeerProof!
    </p>
  </body>
</html>